.simple-tag-filter {
    max-width: 100%;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: safe start;
}

.simple-tag-filter--center {
    margin-left: auto;
    margin-right: auto;
}

.simple-tag-filter--tabs {
    position: relative;
    z-index: 1;
    padding: .5rem;
    border-radius: var(--btn-border-radius , 0.25rem);
}

/* The Animated Glider */
.simple-tag-filter__glider {
    position: absolute;
    /* --bs-info is used by YOOtheme templates */
    background-color: var(--btn-bg, var(--bs-info, #30638d));
    z-index: 0;
    border-radius: var(--border-radius , 0.25rem);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none; /* Allows mouse to pass through to buttons */
}

.simple-tag-filter .btn {
    flex: 0 0 auto; /* Prevent buttons from shrinking */
    margin: 0;
}

.simple-tag-filter--tabs .btn {
    position: relative;
    z-index: 2;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.simple-tag-filter.simple-tag-filter--tabs .btn:hover,
.simple-tag-filter.simple-tag-filter--tabs .btn:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.simple-tag-filter .simple-tag-filter__counter {
    font-weight: normal;
    opacity: 0.9;
}

/* Apply these styles for mobile viewports to have horizontal scrolling*/
@media (max-width: 767px) {
    .simple-tag-filter--tabs {
        flex-wrap: nowrap;
        overflow-x: auto !important;    /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
        scrollbar-width: none; /* Hide scrollbar for Firefox */
    }

    .simple-tag-filter--tabs::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome/Safari */
    }
}